body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-me-sec.visible, .portfolio-me-sec.visible, .contact-me-sec.visible  {
  display: flex;
}
.about-me-sec.hidden, .portfolio-me-sec.hidden, .contact-me-sec.hidden  {
  display: none;
}
